<section class="info">
    <div class="info-title">
        <h4>BITS <span>'22</span></h4>
    </div>
    <!-- <div class="info-desc">
        <p>BITS is the First-Ever Task-Based Intraschool ICT competition, organized by the Ananda College ICT Society to provide a platform for our school's students to polish and improve their ICT knowledge in many fields of ICT</p>
    </div> -->
    <div class="info-mascot">
        <img src="/img/mascot-0223.png">
    </div>
    <div class="info-quote">
        <p><span>"</span> Nothing is impossible. The word itself says 'I'm possible! <span>"</span></p>
    </div>
</section>
