<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BITS '22</title>
    <link rel="icon" type="image/x-icon" href="/img/bits-logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="/css/index.css" rel="stylesheet">
  </head>
  <body>
    <%- include("partials/nav", { active: "home" , user: username}) %>
    
    <main class="main">
      <section class="landing">
        <div class="hero">
          <div class="hero-title">
            <p>BITS <span>'22</span></p>
          </div>
          <div class="hero-desc">
            <p>The First-Ever Task-Based Intraschool ICT competition, organized by the Ananda College ICT Society to provide a platform for our school's students to polish and improve their ICT knowledge in many fields of ICT</p>
          </div>
          <div class="hero-quote">
            <p><span>"</span> Success is not final, failure is not fatal: it is the courage to continue that counts. <span>"</span></p>
          </div>
          <div class="hero-cta">
            <a id="time"></a>
          </div>
        </div>
        
        <div class="mascot">
          <img src="/img/mascot-0223.png">
        </div>
      </section>
      
      <section class="info">
        <div class="info-title">What is <span>BITS ?</span></div>
        <div class="info-desc">
          <p>BITS is an annual intra-school task-based ICT competition, organized by the Ananda College ICT Society, that will be held online for young Anandians from Grades 6-11</p>
          <p>This year marks the 5th consecutive time BITS was organized to test the skills and knowledge of young Aanadians while giving them a unique platform to showcase their talents and provide a valuable opportunity to use their abilities for something intuitive and productive.</p>
          <p>BITS is a task-based ICT competition modelled after international standard competitions like Google Code-In, Summer of Code, etc...</p>
          <p>The participants will be provided a variety of tasks based on various fields of ICT and they are mainly categorized into 3 separate categories.</p>
        </div>
      </section>
    </main>

    <%- include("partials/footer", { active: "home" }) %>

 <script>
  var countDownDate = new Date("Oct 5, 2022 18:00:00").getTime();
           
  var x = setInterval(function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;

  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  document.getElementById("time").innerHTML = "Starts in " + hours + "h "
  + minutes + "m " + seconds + "s ";

   if (distance < 0) {
    clearInterval(x);
    document.getElementById("time").innerHTML = "Register Now";
    document.getElementById("time").setAttribute("href", "/signup");
   }
  }, 1000);
 </script>
 <script>

  var INITIAL_WAIT = 3000;
  var INTERVAL_WAIT = 10000;
  var ONE_SECOND = 1000;

  var events = ["mouseup", "keydown", "scroll", "mousemove"];
  var startTime = Date.now();
  var endTime = startTime + INITIAL_WAIT;
  var totalTime = 0;
  var clickCount = 0;
  var buttonClicks = {
      total: 0,
  };
  var buttonClickCount = 0;
  var linkClickCount = 0;
  var keypressCount = 0;
  var scrollCount = 0;
  var mouseMovementCount = 0;
  var linkClickCount = 0;

  setInterval(function () {
      if (!document.hidden && startTime <= endTime) {
          startTime = Date.now();
          totalTime += ONE_SECOND;
      }
  }, ONE_SECOND);

  document.addEventListener("DOMContentLoaded", function () {
      events.forEach(function (e) {
          document.addEventListener(e, function () {
              endTime = Date.now() + INTERVAL_WAIT;
              if (e === "mouseup") {
                  clickCount++;
                  if (event.target.nodeName === 'BUTTON') {
                      if (!buttonClicks[event.target.innerText]) {
                          buttonClicks[event.target.innerText] = 0;
                      }
                      buttonClicks[event.target.innerText] += 1;
                      buttonClicks.total += 1;
                  }
                  else if (event.target.nodeName === 'A') {
                      linkClickCount++;
                  }
              }
              else if (e === "keydown") {
                  keypressCount++;
              }
              else if (e === "scroll") {
                  scrollCount++;
              }
              else if (e === "mousemove") {
                  mouseMovementCount++;
              }
          });
      });
  });

  window.addEventListener('beforeunload', function (e) {
      const data = { 
          timeSpend: totalTime,
          totalClicks: clickCount,
          totalButtonClicks: buttonClicks,
          totalButtonClickCount: buttonClickCount,
          totalLinkClickCount: linkClickCount,
          totalKeypressCount: keypressCount,
          totalScrollCount: scrollCount,
          totalMouseMovementCount: mouseMovementCount
       };

      fetch('/update', {
          method: 'POST', // or 'PUT'
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
      })
          .then((response) => response.json())
          .then((data) => {
              console.log('Success:', data);
          })
          .catch((error) => {
              console.error('Error:', error);
          });
  });
</script>
  </body>
</html>
