@import "./main"; //NOTE: this is only used to generate the css so, this should be the correct path

.main {
    width: 100%;
    
    .landing {
        height: 88vh;
        padding: 4em 0 0 6em;
        display: flex;
        flex-direction: row;
    }
}

.hero {
    width: 60%;
    
    .hero-title {
    font-size: 6em;
    font-weight: bold;
    color: $col-light;

        span {
            @include gradientText($col-acnt-light, $col-acnt-dark, 100px);
        }
    }

    .hero-desc {
        margin: 1em 0;
        font-size: 1.2em;
        width: 40vw;
        color: $col-mid;
    }
    
    .hero-quote {
        margin: 3em 0;
        font-size: 1.2em;
        font-style: italic;
        color: $col-mid;
        
        span {
            color: $col-acnt-dark;
        }
    }

    .hero-cta {
        background: linear-gradient(110deg, $col-acnt-light 0%, $col-acnt-dark 100%);
        color: $col-light;
        display: inline-block;
        // padding: .7em 2.5em;
        border-radius: 8px;
        font-size: 1.2em;
        font-weight: bold;
        box-shadow: 10px 0 80px 2px $col-acnt-dark, -10px 0 80px 2px $col-acnt-light;
        transition: .15s;
        user-select: none;
        cursor: pointer;

        a {
            display: block;
            padding: .7em 2.5em;
        }

        &:hover {
            transform: scale(1.1);
            box-shadow: 10px 2px 70px 0px $col-acnt-dark, -10px 2px 70px 0px $col-acnt-light;
        }
        
        &:active {
            transform: scale(.9);
            box-shadow: 10px 2px 90px 4px $col-acnt-dark, -10px 2px 90px 4px $col-acnt-light;
        }
    }
}

.mascot {
    width: 40%;
    display: flex;
    align-items: center;
    padding: 0 6em 6em 0;

    img {
        width: 100%;
    }
}

.info {
    padding: 4em 0 0 6em;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: $col-bg; //to make the background invisible
    
    .info-title {
        font-size: 4em;
        font-weight: bold;
        color: $col-light;
        span {
            @include gradientText($col-acnt-light, $col-acnt-dark, 100px);
        }
    }
    
    .info-desc {
        width: 50%;
        font-size: 1.1em;
        color: $col-mid;
        p {
            margin: 2em 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    .main {
        .landing {
            padding: 4em;
            height: auto;

            .hero {
                width: 100%;

                .hero-desc {
                    width: 100%;
                }
            }

            .mascot {
                display: none;
            }
        }

        .info {
            padding: 4em;
            height: auto;

            .info-desc {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        .landing {
            padding: 4em 2em;

            .hero {
                width: 100%;
                text-align: justify;

                .hero-title {
                    font-size: 4em;
                }

                .hero-desc {
                    font-size: 1.1em;
                }

                .hero-quote {
                    text-align: center;
                    font-size: 1.1em;
                }

                .hero-cta {
                    display: block;
                    width: max-content;
                    margin: auto;
                }
            }
        }

        .info {
            padding: 4em 2em;

            .info-title {
                font-size: 3em;
            }

            .info-desc {
                text-align: justify;
            }
        }
    }
}

// quiz notification

.notification-container {
    position: fixed;
    bottom: 10px;
    right: 15px;
    width: 500px;
    max-width: calc(100% - 30px);
}

.notification {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #fff;
    font-size: 16px;
    padding: 15px 20px;
    line-height: 20px;
    margin-bottom: 15px;
    animation: grow 0.5s ease-in forwards;
}

@keyframes grow {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.notification.hide {
    animation: shrink 0.3s ease-out forwards;
}

@keyframes shrink {
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

.notification strong {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.notification-success {
    background-color: #55b559;
}